<div class="container h-100 w-100">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 col-12 text-center">
            <img class="img-fluid rounded " src="assets/img/profile-girl.jpg" alt="" />
        </div>
        <div class="col-lg-6 col-12 mt-5 mt-lg-0 text-start h-auto text-white">
            <h1>Who am I?</h1>
            <span>
                I am an architect & a gifted artist who discovered my interest in piercings and jewelry during my studies.
                Then, I embarked on a journey to bring my idea of designing jewelry into life. Inspired by the potential
                for self-expression, I decided to combine my artistic skills with piercing concepts, aiming to create
                spaces that brought happiness and empowerment. A profound epiphany led me to the idea of crafting
                personalized necklaces for my clients, using my artistic abilities to capture their unique
                personalities.
            </span>
        </div>
    </div>
</div>