<div class="container h-100 w-100">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 col-12 text-center">
            <img class="img-fluid rounded " src="assets/img/profile-girl.jpg" alt="" />
        </div>
        <div class="col-lg-6 col-12 mt-5 mt-lg-0 text-start h-auto text-white">
            <h1>Home Page</h1>
            <span>
                I've always loved art and design, even as an engineer. During college, I explored body piercings and
                found my calling - expressing myself through jewelry. I wanted to unleash my creative spirit and empower
                others to shine. So I merged my skills into a mission: designing pieces packed with personality. Whether
                dangling earrings or statement necklaces, each piece tells a story. A lightbulb ignited - I'd craft
                personalized jewels capturing peoples' very essence. Now my studio is a workshop where confidence is
                born. Through metal and gems, I help clients manifest themselves. Their grins when gazing at customs
                works in the mirror fuel me endlessly. My journey brought me from architecture drafts to fueling
                peoples' joys through adornment. I hope you'll stay sparkling with whatever dreams you choose to bead
                together.
            </span>
        </div>
    </div>
</div>