<nav class="navbar navbar-expand-sm bg-transparent p-3" data-scroll data-scroll-sticky>
    <div class="container-fluid justify-content-between align-items-start">
        <div class="col-2">
            <a class="navbar-brand fs-2 fw-bolder elegance-header-name" routerLink="home">ELEGANCE <span
                    class="highlight"></span></a>
        </div>
        <div class="col-4 text-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
                <ul class="navbar-nav  py-2 my-lg-0 " style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="navbar-brand elegance-nav-tag" routerLink="home"
                            routerLinkActive="elegance-nav-tag-active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand elegance-nav-tag" routerLink="about-me"
                            routerLinkActive="elegance-nav-tag-active">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand elegance-nav-tag" routerLink="design"
                            routerLinkActive="elegance-nav-tag-active">Designing</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand elegance-nav-tag" routerLink="contact-us"
                            routerLinkActive="elegance-nav-tag-active">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>