<div class="elegance-social-bar">
    <div class="text-right">
        <ul class="elegance-social-icons">
            <li>
                <a href="#" title="Instagram"><fa-icon [icon]="faInstagram" size="xl"></fa-icon></a>
            </li>
            <li>
                <a href="#" title="Facebook"><fa-icon [icon]="faFacebook" size="xl"></fa-icon></a>
            </li>
            <li>
                <a href="#" title="Phone"><fa-icon [icon]="faPhone" size="xl"></fa-icon></a>
            </li>
        </ul>
    </div>
</div>